<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pyDF Project</title>

    <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css"/>
    <style>
        body, html {
            padding: 0;
            margin: 0;
        }
        main{
            padding: 25px 0;
            background: #ecf0f1;
        }
        article{
            background: #fff;
            position: relative;
            border-radius: 2px;
            top: -75px;
            padding: 25px 50px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }
        article h3 {
            padding: 0 0 10px 0;
        }
        p{
            text-align: justify;
            font-size: 16px;
        }
        header, footer {
            background: #34495e;
            padding: 50px 0 75px 0;
        }
        h2,h1 {
            color: #fff;
            font-weight: 300;
        }
    </style>
</head>
<body>
    <header>
        <h1 class="text-center">PyDF project - ActivKonnect</h1>
    </header>

    <main>
        <div class="container">
            <article>
                <h3>Lorem ipsum dolor. <a href="{% url 'monapp_pdf.views.py_df' %}" >Download</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem nulla pariatur quibusdam quo rerum.
                    Accusamus ad assumenda dicta distinctio et eum in labore, magnam, possimus ratione recusandae, rerum
                    ut vel! Alias aliquid assumenda corporis delectus eius est ex fugit harum hic, itaque laborum nobis
                    nostrum officiis omnis pariatur quae quaerat qui quia quibusdam recusandae reiciendis rem rerum
                    suscipit ullam ut voluptas voluptatem! Accusamus amet, consequuntur deserunt dicta dignissimos
                    eligendi facere fuga illum impedit libero minima nemo non odio, quibusdam veniam. Aliquid amet animi
                    beatae commodi deleniti eius enim error, id impedit nam nesciunt numquam pariatur, suscipit.
                    Architecto aspernatur, deserunt dicta dolorem eos esse eveniet ex facilis incidunt libero nostrum
                    odio placeat. Dolore rem, ullam. Asperiores cum debitis error exercitationem facere id illum magnam
                    neque praesentium, sed? Asperiores blanditiis consequatur, culpa cumque dicta dolorem facilis in
                    iusto magnam minima natus non pariatur placeat, porro praesentium quisquam voluptas. Asperiores at
                    consequatur cumque dicta dolore esse eveniet exercitationem fuga laborum minus mollitia nisi
                    obcaecati omnis perspiciatis quam ratione, reprehenderit sint totam, vero voluptatem. Ad asperiores
                    aspernatur autem corporis dicta dolore dolorum eaque eveniet exercitationem fugit, illo ipsam iste
                    labore, laborum magnam maxime nostrum optio perspiciatis placeat porro quos sequi sint sunt suscipit
                    veritatis? Aperiam consequatur consequuntur delectus facilis labore mollitia neque nobis repudiandae
                    rerum sapiente! Aspernatur dolorum eos illo illum incidunt necessitatibus nisi repellat. A accusamus
                    animi asperiores at atque aut beatae commodi cum cumque debitis distinctio dolor dolorem eaque eius
                    eveniet id illo ipsam laboriosam libero, minima minus neque nulla obcaecati odio perspiciatis
                    possimus quae quis repudiandae sequi sunt temporibus voluptas voluptate voluptatum! A accusamus
                    animi architecto eveniet hic, nesciunt quo! Consequuntur dignissimos eaque error est illo incidunt
                    maiores nam natus, obcaecati omnis praesentium quae quos rem saepe similique sunt ut! A ad adipisci
                    alias aspernatur at beatae consequatur consequuntur corporis cupiditate deleniti, dolorem ducimus
                    eius enim eos error eveniet exercitationem expedita facilis fuga incidunt iste laborum minus nobis
                    optio placeat, quia reiciendis rem saepe sequi similique temporibus velit voluptate voluptates!
                    Cumque, fugiat quo. Accusantium amet aspernatur corporis debitis delectus dolorem, doloribus
                    expedita fugiat labore magni maxime minima molestiae numquam praesentium quis recusandae sint
                    temporibus ut veritatis, voluptas? At aut deleniti illo impedit, necessitatibus nemo officia quis
                    voluptate! Accusantium iure nemo nesciunt odit quasi quo repellendus sapiente suscipit veritatis
                    vitae. Consequuntur est, sequi. Ab aliquam asperiores aspernatur assumenda consectetur cupiditate
                    doloribus, enim esse fuga fugit ipsam nisi non odio odit omnis quidem quisquam ratione tempora
                    tempore totam ut vel voluptas voluptates! Accusantium amet architecto atque autem commodi debitis
                    deleniti dolore dolorum eaque eius eos est ex excepturi, fuga harum id illo impedit ipsa ipsam ipsum
                    iste labore laboriosam magni molestias nam necessitatibus nihil nisi non officiis perferendis
                    possimus, praesentium saepe sequi sunt velit vero vitae. A rem velit voluptas. Ad magnam minima
                    quisquam sapiente voluptas. A aspernatur autem deserunt dicta dolores ea eum hic illo libero magnam
                    maxime minus mollitia nesciunt nobis obcaecati provident quia, reiciendis, repellendus sunt tempora
                    tempore unde vero! Aut culpa cumque, dignissimos dolorum eos harum illum ipsa quaerat qui quis
                    suscipit ullam vero voluptate. Consectetur deserunt dolorem explicabo incidunt laborum modi, quia
                    quis soluta! Ad atque consectetur dolores explicabo, in labore numquam optio possimus recusandae,
                    rem sed temporibus, unde? Ad aspernatur doloremque iste iusto placeat tempora temporibus? A aperiam
                    architecto beatae dolor fugiat inventore libero molestias neque, tempora!</p>
            </article>
        </div>
    </main>

    <footer>
        <h2 class="text-center">PyDF ActivKonnect</h2>
    </footer>
</body>
</html>